body {
  background-color: #1b2838;
  font-family: Arial, sans-serif;
  color: #c7d5e0;
  margin: 0;
  padding: 10px;
  width: 400px;
  height: auto;
}

/* Pusula logosu için düzenleme */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; /* Daha az boşluk */
}

.pusula-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  margin: 0;
}

.pusula-logo:hover {
  transform: scale(1.2);
}

/* Konteyner tasarımı */
.currency-container,
.section-container {
  background-color: #171a21;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Başlıklar */
h2,
h3 {
  color: #c7d5e0;
  font-size: 16px;
  margin: 0 0 8px 0;
}

/* Dropdown menüsü */
select {
  width: 100%;
  padding: 6px;
  background-color: #1b2838;
  border: 1px solid #66c0f4;
  border-radius: 4px;
  color: #c7d5e0;
  font-size: 13px;
}

/* Liste stili */
.info-list {
  list-style-type: disc;
  padding-left: 20px;
}

.info-list li {
  margin-bottom: 8px;
  font-size: 13px;
}

/* Vurgulu metin */
.info-list strong {
  color: #66c0f4;
}

.info-container {
  background-color: #171a21;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.s {
  color: #66c0f4;
  font-size: 10px;
  text-align: center;
}

.info {
  color: #66c0f4;
  font-size: 12px;
  text-align: center;
}

/* Detaylı bilgi bağlantısı */
.details-link {
  display: block;
  margin-top: 15px;
  color: #66c0f4;
  font-size: 10px;
  text-decoration: none;
}

.details-link:hover {
  color: #c7d5e0;
}

/* GitHub logosu */
.github-container {
  text-align: center;
  margin: 10px 0 0 0;
}

.github-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.github-logo:hover {
  transform: scale(1.1);
}
/* Yükleniyor mesajını başlangıçta gizle */
.loading-message {
  display: none;
  font-size: 18px;
  font-weight: bold;
  color: #66c0f4;
  text-align: center;
  padding: 10px;
  background-color: #1b2838;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}

/* Kaydırma çubuğu genel tasarımı */
::-webkit-scrollbar {
  width: 8px; /* Kaydırma çubuğunun genişliği */
}

::-webkit-scrollbar-track {
  background: #1b2838; /* Arka plan rengi */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #66c0f4; /* Kaydırma çubuğu rengi (Steam mavisi) */
  border-radius: 10px;
  border: 2px solid #1b2838; /* Arka planla uyumlu kenar boşluğu */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c7d5e0; /* Üzerine gelindiğinde rengi değiştir */
}
.error-message {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  width: 70%;
  transform: translateX(-50%);
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  z-index: 9999;
}
